@media  screen and (max-width:400px){
    h1{
        font-size:22px;
        margin: 30px;
    }

    button{
        width: 120px !important;
        height:40px !important;
        margin-left: 120px !important;
    }

    h2{
        font-size:21px;
        width: 350px;
    }
    p{
        font-size:15px;
        margin-left:-40px;
    }

    header{
        
        background-size: cover;
        width:95vw;
        height:100px;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    button, .btn2{
        font-size:12px;
        width:100px;
        height:20px;
        margin-left: 80px;
        
    }

    .item-btn:hover{
        margin-left: 20px;
        border: 3px solid rgb(212, 192, 5);
        color: rgb(221, 103, 24);
    }

    .mudanca-estilos{
        display:grid !important;
        grid-template-columns:100px 100px 100px !important ;
        gap:10px;
    
    }

    .mudanca-estilos button{
        width:100px !important;
        margin-left:-10px !important;
    }
}

@media screen and (min-width:401px) 
and (max-width:800px){
    h1{
        font-size:22px;
    }
    p{
        font-size:22px;
    }

    header{
        
        background-size: cover;
        width:92vw;
        height:150px;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-position: center;
        
    }


    .mudanca-estilos{
        display:grid !important;
        grid-template-columns:125px 125px 125px  !important ;
        gap:10px;
        display: block;
        margin: 0 auto;
    
    }

    .mudanca-estilos button{
        width:100px !important;
        display: block;
        margin: 10px auto;
    }

    
}

@media screen and (min-width:801px) and (max-width:1250px){
   

    header{
        
        background-size: cover;
        width:97vw;
        height:300px;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-position: center;
        
    }
}


@media screen and (min-width:1251px){
   

    header{
        
        background-size: cover;
        width:97vw;
        height:500px;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-position: center;
        
    }
}

